<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Own Foscam Control</title>
    <link rel="icon" href="icon.png" type="image/png" sizes="152x152" />
    <link href="/bootstrap-5.0.0-beta1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>

    <main class="container mt-4">
      <%-body %>
      <!-- body will be loaded from each view template -->
    </main>

    <script src="/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.js"></script>

    <!-- <script src="javascripts.js"></script> -->
  </body>
</html>
