<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foscam control</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Foscam Control in Js</h1>
      <div class="buttons">
        <form action="/enable">
          <button id="enableBtn" class="onButton">Enable</button>
        </form>
        <form action="/disable">
          <button id="disableBtn" class="offButton">Disable</button>
        </form>
      </div>

      <%= userIP %> <%= userAgent %> <%= `STATUS: ${newImg.alarmStatus}` %> <%= `server Up Time: ${newImg.serverUpTime}` %> <% if (newImg.alarmStatus
      === "0") {%>
      <h2>La alarma está DESACTIVADA</h2>
      <% }%> <% if (newImg.alarmStatus === "1") {%>
      <h2>La alarma está ACTIVADA</h2>
      <% }%> <% if(newImg.showImage===true){ %>
      <div>Mostrando imagen:</div>
      <img src="snapshot.jpg" style="width: 100%; margin: auto" alt="img could not be loaded" /> <% } %>
    </div>
  </body>
</html>
