body {
  color: white;
  background: #323233;
}

table {
  margin: auto;
}

th,
td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: white;
  font-size: 0.75rem;
}

.dateInput {
  line-height: 2rem;
  border-radius: 10px;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  color: #323233;
  transition: 0.15s;
}
.btn-sm {
  font-size: 0.7rem;
  font-weight: bold;
  transition: 0.15s;
}

.btn:hover,
.list-group-item:hover {
  background: linear-gradient(to bottom, #dfdede 5%, #b9b9b9 100%);
  background-color: #d8d2d2;
  color: black;
}

.btn:active,
.list-group-item:active {
  position: relative;
  top: 3px;
}

#buttons {
  min-height: 10rem;
}

#switches {
  height: 16vh;
}

.switch {
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  height: 100%;
  line-height: 12vh;
}

.onButton {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #b8e356;
  border: 1px solid #83c41a;
  text-shadow: 0px 1px 0px #86ae47;
}

.onButton:hover {
  background: linear-gradient(to bottom, #87a742 5%, #92b442 100%);
  background-color: #a5cc52;
  color: white;
  font-size: 2rem;
}

.offButton {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border: 1px solid #d02718;
  text-shadow: 0px 1px 0px #810e05;
}
.offButton:hover {
  background: linear-gradient(to bottom, #b42a1e 5%, #d63b30 100%);
  background-color: #c62d1f;
  color: white;
  font-size: 2rem;
}

.closeButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #b8b8b8 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 4vh;
  height: 100%;
}

.closeButton:hover {
  background: linear-gradient(to bottom, #e4e4e4 5%, #b9b9b9 100%);
  background-color: #d8d2d2;
  font-size: 2rem;
}

a.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

a.nav-link:hover {
  color: rgba(255, 255, 255, 0.863);
  background-color: rgba(255, 255, 255, 0.5);
}

a.nav-link:active {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.navbar-expand {
  margin-right: 0px;
}

.previous,
.next {
  text-align: center;
  min-width: 4rem;
  white-space: nowrap;
}

#homeImg {
  width: 100%;
  margin: auto;
}

.flush {
  margin-top: 10rem;
  margin-bottom: 1rem;
}
