/* body {
  background: rgb(117, 99, 179);
  background: linear-gradient(45deg, rgba(117, 99, 179, 1) 0%, rgba(16, 16, 17, 1) 100%);
} */
/* body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
} */
body {
  background: linear-gradient(-45deg, #5c5ee0, #1d1e47, #7b3ca0, #361947);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: rgb(218, 218, 218);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  max-width: 90vw;
}

h2 {
  color: #f8f8ff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  margin: 6px auto;
  line-height: 30px;
  text-align: center;
}

.container {
  text-align: center;
  margin: auto;
  border: solid 2px;
  padding-bottom: 6px;
}

form {
  display: inline-block;
  margin: auto;
}

.onButton {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #b8e356;
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #86ae47;
  width: 45vw;
  height: 45vw;
  max-width: 375px;
  max-height: 375px;
}
.onButton:hover {
  background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
  background-color: #a5cc52;
}
.onButton:active {
  position: relative;
  top: 1px;
}

.offButton {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  width: 45vw;
  height: 45vw;
  max-width: 375px;
  max-height: 375px;
}
.offButton:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.offButton:active {
  position: relative;
  top: 1px;
}
